<div class="container">
  <footer class="py-3 my-4" role="contentinfo">
    <nav aria-label="Footer Navigation">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-secondary" role="link" aria-label="Home page">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-secondary" role="link" aria-label="Features page">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-secondary" role="link" aria-label="Pricing page">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-secondary" role="link" aria-label="FAQs page">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-secondary" role="link" aria-label="About us page">About</a>
        </li>
      </ul>
    </nav>
    <p class="text-center text-secondary" aria-label="Copyright information">© 2024 Company, Inc</p>
  </footer>
</div>
