<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" role="banner">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-secondary" aria-label="Homepage">
      <span class="fs-4" role="heading" aria-level="1">Commerce Manager</span>
    </a>

    <nav aria-label="Main navigation">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="products" class="nav-link text-secondary" role="link" aria-label="Products page">Products</a>
        </li>
        <li class="nav-item">
          <a href="customers" class="nav-link text-secondary" role="link" aria-label="Customers page">Customers</a>
        </li>
        <li class="nav-item">
          <a href="orders" class="nav-link text-secondary" role="link" aria-label="Orders page">Orders</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
