<div class="px-4 py-5 my-5 text-center text-secondary">
    <h1 class="display-5 fw-bold" role="heading" aria-level="1">Commerce Manager</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" role="contentinfo">A powerful web application designed to increase productivity in managing commerce data, while streamlining the whole process, from beginning to end.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="products" class="btn btn-primary btn-lg px-4 gap-3" role="button" aria-label="Manage products">Manage products</a>
        <a href="customers" class="btn btn-primary btn-lg px-4 gap-3" role="button" aria-label="Manage customers">Manage customers</a>
        <a href="orders" class="btn btn-primary btn-lg px-4 gap-3" role="button" aria-label="Manage orders">Manage orders</a>
      </div>
    </div>
  </div>
  
  <div class="container px-4 py-5 text-secondary" id="featured-3">
    <h2 class="pb-2 border-bottom" role="heading" aria-level="2">Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fs-2" role="heading" aria-level="3">Product Management</h3>
        <p>Streamline your product catalog with intuitive tools. Easily manage products, set prices, and track performance with real-time analytics.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2" role="heading" aria-level="3">Customer Management</h3>
        <p>Organize customer data, track interactions, and personalize your approach to boost loyalty and provide exceptional service.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2" role="heading" aria-level="3">Order Management</h3>
        <p>Simplify your sales process. Track order statuses, process payments securely, and ensure timely fulfillment to enhance customer experience.</p>
      </div>
    </div>
  </div>
  